
:root {
    --bg-color: #0d0d0d; 
    --object-bg: #191919; 
    --text-color: #ffffff; 
  }
  

  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  /* Custom scrollbar styles for Webkit browsers */
/* Custom scrollbar styles for Webkit browsers */
textarea::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* White scrollbar thumb */
  border-radius: 4px;
}

textarea::-webkit-scrollbar-track {
  background: #333333; /* Dark background for scrollbar track */
}

